/* Small reset*/
article,aside,details,figcaption,figure,
footer,header,hgroup,menu,nav,section {
    display:block;
}

* {
    font-family:Algerian;
}

body {
    margin:0 0 0 0;
}

header {
    height:150px;
    background-image: url(../../img/CE_3.jpg)
}

header h1 {
    color:#2E2E2E;
    float: left;
    padding: 20px 20px 20px 20px;
}

header h2 {
    color:#2E2E2E;
    float: right;
    padding: 20px 20px 20px 20px;
}

aside.views  {
    height:690px;
    float:right;
    width:110px;
    color: #ffffff;
    background-color:#424242;
}

aside.ctrls  {
    height:690px;
    float:left;
    width:80px;
    color: #ffffff;
    background-color:#424242;
}


aside.ctrls ul li button {
    border-style:none;
    font-size:12px;
    display: block;
    background: #424242;
    padding: 10px 15px 20px 15px;
    color: #ffffff;
    height:30px; /* Width and height of top-level aside items */
    width:80px;
    text-align:center;

}


aside  ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

aside  ul li {
    position: relative;
}

aside.views  ul li a {
    text-decoration: none;
    display: block;
    font-size:12px;
    background: #424242;
    padding: 7px 15px 3px 15px;
    color: #ffffff;
    height:30px; /* Width and height of top-level aside items */
    width:100px;
    text-align:center;
}

aside  ul li a:hover {
    background: #BDBDBD;
    color:#000000;
}

aside  ul li button:hover {
    background: #BDBDBD;
    color:#000000;
}

#content {
    float:left;
    margin:0px 0px 0px 0px; 
    padding: 10px 10px 10px 10px;
}

footer {
    background-color:#424242;
    height:180px; 
    padding: 10px 10px 10px 10px;
    clear:both;
}

footer ul li{
    color: #ffffff;
}

footer ul li a {
    color: #ffffff;
}

nav {
    background-color:#424242;
    height:60px;
}

nav ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

nav ul li {
    display: block;
    position: relative;
    float: left;

}

nav ul li a {
    display: block;
    text-decoration: none;
    padding: 10px 10px 10px 10px;
    background: #424242;
    color: #ffffff;
    margin-left: 0;
    white-space: nowrap;
    height:40px; /* Width and height of top-level nav items */
    width:90px;
    text-align:center;

}

nav ul li a:hover {
    background: #BDBDBD;
    color:#000000
}



div.serial {
   padding: 8px 8px 8px 8px;  
   background: #D8D8D8; 
   float:left;
   border:1px solid;  
   margin:10px 10px 10px 10px;  
}

div.parallel {
    text-align:center;
    font-size:10px;
    float:right;
    padding: 5px 5px 5px 5px;
    margin:5px 5px 5px 5px;  
    width:40px;
    height:20px;
    border:1px solid; 
}

.executed {
    opacity: 0.8;
    background: #D7DF01;
}
.ready {
    opacity: 0.8;
    background: #5FB404;
}
.working { 
    opacity: 0.8;
    background: #FE2E2E;
}

td {
    padding: 5px 10px 5px 10px;
}

tr:hover {
    background: #BDBDBD;
    color:#000000
}

input {
    border-style:groove;
  
}

button {
    border-style:none;
    font-size:12px;
    padding: 3px 8px 3px 8px;
    background: #424242;
    color: #ffffff;
    text-align:center;
}