/* Small reset*/
article,aside,details,figcaption,figure,
footer,header,hgroup,menu,nav,section {
    display:block;
}

header {
    height:150px;
    background-image: url(../../img/CE_3.jpg)
}

header h1 {
    color:#2E2E2E;
    float: left;
    padding: 20px 20px 20px 20px;
}

header h2 {
    color:#2E2E2E;
    float: right;
    padding: 20px 20px 20px 20px;
}

section#content {
    float:left;
    margin:auto;
    margin-top:20px;
    border:1px solid grey; /*+*/
}

footer {
    background-color:#424242;
    height:180px;
    clear:both;
}


nav {
    background-color:#424242;
    height:40px;
}


nav ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

nav ul li {
    display: block;
    position: relative;
    float: left;

}

nav ul li a {
    display: block;
    text-decoration: none;
    padding: 7px 15px 3px 15px;
    background: #424242;
    color: #ffffff;
    margin-left: 1px;
    white-space: nowrap;
    height:30px; /* Width and height of top-level nav items */
    width:90px;
    text-align:center;

}

nav ul li a:hover {
    background: #BDBDBD;
    color:#000000
}


aside {
    height:720px;
    float:right;
    width:120px;
    color: #ffffff;
    background-color:#424242;
}

aside ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

aside ul li {
    position: relative;
}

aside ul li a {
    text-decoration: none;
    display: block;
    background: #424242;
    padding: 7px 15px 3px 15px;
    color: #ffffff;
    height:30px; /* Width and height of top-level aside items */
    width:90px;
    text-align:center;
}

aside ul li a:hover {
    background: #BDBDBD;
    color:#000000;
}