<table summary='select or deselect calibration documents from table'>
  <caption>select or deselect calibration documents from table</caption>
  <colgroup/>
  <colgroup title='title' span='2'/>
  <thead>
    <tr>
      <th scope='col'>Customer</th>
      <th scope='col'>Device</th>
      <th scope='col'>ToDoType</th>
      <th scope='col'>Sign</th>
      <th scope='col'>Year</th>
      <th scope='col'>Details</th>
      <th scope='col'>select</th>
      <th scope='col'>deselect</th>
    </tr>
  </thead>
  <tbody>
    {{{Document}}}
  </tbody>
</table>