<!DOCTYPE HTML>
<html>
  <head>
    <meta http-equiv='Content-Type' content='text/html; charset=UTF-8' />
    <link type='text/css' rel='stylesheet'  href='../../css/main.css' />
    <title>{{Name}}</title>
  </head>
  <body>
    <header>
      <h1>{{Name}}</h1>
      <h2>{{Description}}</h2>
    </header>
    <nav class='ctrls'>
      <ul>
        <li>
	  <button data-parent  = 'li'
		  data-url     = '/{{Id}}/button'
		  data-api     = '/{{Id}}/ctrl/{{no}}'
		  data-cmd     = 'load;run'
		  data-method  = 'PUT' >load&run</button>
	</li>
        <li>
	    <button
               data-parent  = 'li'
               data-url     = '/{{Id}}/button'
               data-api     = '/{{Id}}/ctrl/{{no}}'
               data-cmd     = 'pause'
               data-method  = 'PUT' >pause</button>
	</li>
        <li>
	    <button
               data-parent  = 'li'
               data-url     = '/{{Id}}/button'
               data-api     = '/{{Id}}/ctrl/{{no}}'
               data-cmd     = 'stop'
               data-method  = 'PUT' >stop</button>
	</li>
      </ul>
    </nav>
    <nav class='views'>
      <ul>
        <li><a href='/{{Id}}/io/{{no}}'>io</a></li>
        <li><a href='/{{Id}}/state/{{no}}'>state</a></li>
      </ul>
    </nav>
    <nav class='containers'>
      <ul>
        {{#each Title}}
        <li><a href='../io/{{@index}}'>{{this}}</a></li>
        {{/each}}
      </ul>
    </nav>
    <aside class='left display'>
    </aside>
    <main id='content' class='{{page}}'>
      <a href='/{{Id}}/content/{{page}}/{{no}}' 
	 data-url='/{{Id}}/content/{{page}}/{{no}}'>{{page}}/{{no}}</a>
    </main>
    <aside class='right display'>
    </aside>
    <footer>
      <ul>
        <li>
          <a href='https://github.com/wactbprot/mpvs' target='_blank'>mpvs@github</a>
	</li>
	<li>
	  <a href='https://github.com/wactbprot/ssmp' target='_blank'>ssmp@github</a>
	</li>
	<li>
	  <a href='https://github.com/wactbprot/csmp' target='_blank'>csmp@github</a>
	</li>
      </ul>
    </footer>
    <script type='text/javascript' src='../../js/jquery-2.1.1.min.js'></script>
    <script type='text/javascript' src='../../js/dl.js'></script>
  </body>
</html>
